@keyframes ldio-iughwj6hzd {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-iughwj6hzd div {
  left: 47px;
  top: 24px;
  position: absolute;
  animation: ldio-iughwj6hzd linear 3.2258064516129035s infinite;
  background: #f7be33;
  width: 6px;
  height: 12px;
  border-radius: 3px / 6px;
  transform-origin: 3px 26px;
}.ldio-iughwj6hzd div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -2.956989247311828s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -2.688172043010753s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -2.4193548387096775s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -2.1505376344086025s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -1.881720430107527s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -1.6129032258064517s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -1.3440860215053765s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -1.0752688172043012s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.8064516129032259s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.5376344086021506s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.2688172043010753s;
  background: #f7be33;
}.ldio-iughwj6hzd div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #f7be33;
}
.loadingio-spinner-spinner-lv7kicky16 {
  width: 88px;
  height: 88px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-iughwj6hzd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.88);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-iughwj6hzd div { box-sizing: content-box; }
/* generated by https://loading.io/ */