
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Sistema Supervisório</h1>
    <p class="lead" *ngIf="maquina.status">Status da Máquina: <span style="color:seagreen">Ativado</span></p>
    <p class="lead" *ngIf="!maquina.status" >Status da Máquina: <span style="color: red;">Desativado</span></p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm  bg-primary text-white ">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Produção</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{maquina.produtosProduzidos}} </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Refrigerantes produzidos</li>
          </ul>
        </div>
        
        </div>


        <div class="card mb-4 shadow-sm  bg-primary text-white">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Àgua </h4>
        </div>
        <div class="card-body ">
          <h1 class="card-title pricing-card-title">{{maquina.litrosAguaUtilizado}}</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Litros de água utilizados</li>
          </ul>
        </div>
        
      </div>


      <div class="card mb-4 shadow-sm  bg-primary text-white">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Açucar</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{maquina.quantidadeAcucar}} </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Quilos de açucar utilizados</li>
          </ul>
        </div>
        
      </div>
      
    
    </div>

    <div class="container carregando text-center">
      <div class="loadingio-spinner-spinner-lv7kicky16"><div class="ldio-iughwj6hzd">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div></div>
    </div>
    
    <div class="row btns-comando">
      <div *ngIf="!maquina.status" (click)="changeStatus()" class="col  text-center">
        <button class="btn btn-success">Ativar Máquina</button>
      </div>
      <div *ngIf="maquina.status" (click)="changeStatus()" class="col text-center">
        <button class="btn btn-danger">Desativar Máquina</button>
      </div>
    </div>

  </div>
